{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registrar Usuario</title>
  <link rel="stylesheet" href="{% static 'orders/css/style-login.css' %}">
  <link rel="stylesheet" href="{% static 'orders/css/stylegeneral.css' %}">

</head>
<body>
  <header>
        <div class="logo">Piazzetta</div>
        <nav>
            <ul>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Reservaciones</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <a href="{% url 'menu' %}" class="cart-button">
            <img src="{% static 'orders/images/carrito.png' %}" alt="Carrito de compras">
        </a>
    </header>
  <h2>Registro</h2>
  <form method="post" id="register-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar</button>
  </form>

  <script>
    document.getElementById('register-form').addEventListener('submit', function(e) {
      const pwd1 = document.getElementById('id_password1').value;
      const pwd2 = document.getElementById('id_password2').value;
      if (pwd1 !== pwd2) {
        e.preventDefault();
        alert('Las contraseñas no coinciden.');
      }
    });
  </script>
</body>
</html>